{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Create Film</h2>
    
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
    
    <div class="row mb-3">
      <div class="col-md-6">
        {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.titre, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.titre, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.directeur, 'Directeur', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.directeur, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.directeur, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.note, 'Note', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.note, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.note, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.genre, 'Genre', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.genre,  {
          'attr': {
            'class': 'form-control bg-dark text-white'
            
          }
        }) }}
        </div>
        {{ form_errors(form.genre, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-12">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.description, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.description, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.date_debut, 'Date de Début', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.date_debut, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.date_debut, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.date_fin, 'Date de Fin', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.date_fin, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.date_fin, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      
      <div class="col-md-6">
        {{ form_label(form.duree, 'Durée', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.duree, {'attr': {'class': 'form-control border-white'}}) }}
        </div>
        {{ form_errors(form.duree, {'attr': {'class': 'invalid-feedback'}}) }}
      </div>
      <div class="col-md-6">
        {{ form_label(form.image_film, 'Image', {'label_attr': {'class': 'form-label'}}) }}
        <div class="border p-3 rounded">
          {{ form_widget(form.image_film, {
          'attr': {
            'class': 'form-control bg-dark text-white'
          }
        }) }}
        </div>
        {{ form_errors(form.image_film) }}
      </div>
   
   
    </div>

    <div class="mb-3">
      {{ form_widget(form.save, {'label': 'Create Film', 'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}
  </div>
</div>

<style>
  /* Style for form fields with white borders on focus/hover */
  .form-control {
    border: 1px solid #444;
    border-radius: 5px;
    border-color: white;
  }
  .form-control:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
    background-color: #3e444a;
    box-shadow: none;
  }
  .form-control::placeholder {
    color: #ffff;
  }
  .form-control:hover {
    border-color: #007bff !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
  }
  .mb-3 .border {
    border: 1px solid #fff;
  }
</style>
{% endblock %}